<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    
    <h1>Bienvenido al registro</h1>

    {% if form.errors %}

    <p style="color: red;">Campo sin llenar</p>

    {% endif %}

    <form action="" method="POST"> {% csrf_token %}

        <table>

            {{form.as_table}}

        </table>

        <input type="submit" value="Enviar"> <br> <br>

        <label for="">¿Ya tienes una cuenta?</label> <br>
        <a href="{% url 'login' %}">¡Inicia sesion!</a>

    </form>


</body>
</html>